{% extends 'base.html.twig' %}

{% block title %}Hello HelloWorldController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper bg-dark">
    <h1 class="text-success">Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li class="text-success">Your controller at <code><a href="{{ 'C:/phpsymphony/steamoche/src/Controller/HelloWorldController.php'|file_link(0) }}">src/Controller/HelloWorldController.php</a></code></li>
        <li class="text-success">Your template at <code><a href="{{ 'C:/phpsymphony/steamoche/templates/hello_world/index.html.twig'|file_link(0) }}">templates/hello_world/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
